* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}

.nav-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.nav-section img {
    width: 188px;
    height: 100%;
    cursor: pointer;
}

.nav-section__menu {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    color: #545454;
}

.nav-section__menu p {
    padding: 12px;
    border-radius: 20px;
}

.nav-section__menu p:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 20px;
}

.nav-section__menu a {
    text-decoration: none;
    color: #545454;
}

.nav-section__menu a:hover {
    text-decoration: underline;
}


.nav-section__corner {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.nav-section__corner__pref {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 30px;
}

.nav-section__corner__pref:hover {
    background-color: #F2F2F2;
}


.nav-section__corner img {
    height: 15px;
    width: 15px;
}

.nav-section__corner button {
    border-radius: 25px;
    border: none;
    color: white;
    background-color: black;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.nav-section__corner button:hover {
    background-color: #333333;
}

.search-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 40px;
}

.search-section h1 {
    font-size: 54px;
    font-weight: 900;
}

.search-section__menu {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.search-section__menu img {
    height: 35px;
    width: 35px;
    margin-left: 20px;
}

.search-section__menu a {
    color: rgb(53, 53, 53);
    text-decoration: none;
    padding: 0px;
}

.search-section__search {
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 60px;
    width: 50%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-section__search img {
    height: 27px;
    width: 27px;
    padding: 10px;
}

.search-section__search input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.search-section__search input:focus {
    outline: none;
}

.search-section__search button {
    font-weight: 700;
    background-color: #34E0A1;
    border: none;
    border-radius: 30px;
    padding: 17px 25px;
    font-size: 16px;
    margin: 5px;
}





.banner-section {
    width: 72%; 
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto; 
    position: relative;
    text-align: center;
   
}

.banner-section img {
    width: 100%;
}

.banner-section h2 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 2em;
    top: 1em;
    font-size: 56px;
    font-weight: 800px;
    margin-bottom: 10px;
}

.banner-section p {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 4em;
    top: 9em;
    font-size: 24px;
    font-weight: 600px;
}



.banner-section button {
    position: absolute;
    left: 10em;
    top: 18em;
    background-color: #d9cee6;
    padding: 18px 23px;
    border-radius: 30px;
    color: #1b1919;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.banner-section button:hover {
    background-color: #776488;
}









.mini-banner-section {
    background-color: #F2F2F2;
    padding: 15px;
    width: 70%; 
    height: 200px;
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto; 
    position: relative;
    text-align: center;
    margin-top: 35px;
    display: flex;
    cursor: pointer;
    
}
.mini-banner-section-pic {
    display: inline-block;
}
.mini-banner-section img {
    border-radius: 5px;
    margin-right: 23px;
}
.mini-banner-section-content {
    margin-left: 0;
}

.mini-banner-section-corona {
    background-color:#E0E0E0 ;
    width: 12em;
    border-radius: 3px;
    padding: 5px;
    color: #545454;
    font-size: 12px;
    font-weight: 400;  
    margin-bottom: 15px;
    
  
}
.mini-banner-section-h2 h2 {
    font-weight: 500;
 
  
}
.mini-banner-section-desc {
    font-weight: 300;
    display: flex;
color: #616161;
margin-top: 25px;
margin-right :20px; ;

}
.mini-banner-section-desc button {
    padding: 10px 25px;
color: #333333;
border-radius: 30px;
font-size: 16px;
font-weight: 700;
margin-top: 4em;

    white-space: nowrap;
cursor: pointer;
border: solid #616161 .5px;
}
.mini-banner-section-desc button:hover {
    color: white;
    background-color: black;
}






.meal-section {
    width: 70%; 
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 35px;

}
.meal-section-card {
    position: relative;
   
   
   
}
.meal-section-card h2 {
    font-weight: 500;
    margin-bottom: 15px;
   
}
.meal-section-card h3 {
    margin-bottom: 15px;
    color: #616161;
    font-weight: 100;
}
.meal-section-card-pic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.meal-section-card-pic {
    flex-grow: 1;
    flex-basis: 20%;
}
.meal-section-card-pic img {
    transition: filter 0.2s ease;
    border-radius: 10px;
    padding-right: 5px;
    
}

.meal-section-card-pic img:hover {
    cursor: pointer;
    filter: invert(0.1) brightness(1.2) saturate(1.1);
   
    
}






.locations-section {
    width: 70%; 
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 65px;  
    margin-bottom: 10em;
}
.locations-section h2 {
 font-weight: 500;
 margin-bottom: 10px;

}
.locations-section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 20%;    
}
.locations-section-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    

}
.locations-section-card-by {
    display: flex;
    justify-content: center; 
    color: black; 
  
    margin-top: 15px;
    gap: 5px;
}
.locations-section-card-pic img {
    height: 231px;
    width: 365px;
    border-radius: 10px;
    transition: filter 0.2s ease;
}
.locations-section-card-pic img:hover {
    cursor: pointer;
    filter: invert(0.1) brightness(1.2) saturate(1.1);
}

.locations-section-card-by p, a {
    color: black;
    text-decoration: none;
}
.locations-section-card-by a:hover {
text-decoration: underline;
}
.locations-section-card-rating {
    margin-top: 15px;
    font-size: 18px;
}
.locations-section-card-rating a:hover {
    text-decoration: underline;
    }

.locations-section-card-rating img {
    height: 30px;
    
}







.travellers-section {
    position: relative;
    
}
.travellers-section img {
    width: 100%; 
}  

.travellers-section button {
    position: absolute;
    left: 20%;
    top: 80%;
    color: white;
    background-color: black;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-weight: 800;
    cursor: pointer;

}

.travellers-section button:hover {
    background-color: #333333;
}

.footer-section {
    background-color: #F2F2F2;
    margin-top:4em ;
}

.footer-section-one {
    display: flex;
    margin-left: 20%;
    padding-top: 2em;
    gap: 25px;
    color: black;
}

.footer-section-one-About {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: rgb(46, 45, 45);
    font-weight: 400;

}

.footer-section-one-About p {

    font-size: 16px;
}

.footer-section-one-About a {
    text-decoration: none;
    color: rgb(46, 45, 45);
}

.footer-section-one-About a:hover {
    text-decoration: underline;
    color: #616161;
}

.footer-section-one-Explore {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: rgb(46, 45, 45);
    font-weight: 400;
    margin-left: 23px;
}

.footer-section-one-Explore p {
    font-size: 16px;
}

.footer-section-one-Explore a {
    color: rgb(46, 45, 45);
    text-decoration: none;
}

.footer-section-one-Explore a:hover {
    text-decoration: underline;
    color: #616161;
}

.footer-section-one-Business {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    margin-left: 45px;
    font-weight: 400;
    color: rgb(46, 45, 45);
}

.footer-section-one-Business p {
    font-size: 16px;
}

.footer-section-one-Business a {
    color: rgb(46, 45, 45);
    text-decoration: none;
}

.footer-section-one-Business a:hover {
    text-decoration: underline;
    color: #616161;
}

.footer-section-one-advisor {
    margin-left: 15em;
    color: rgb(46, 45, 45);
}

.footer-section-one-advisor h3 {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section-one-advisor p {
    font-weight: 400;
    font-size: 14px;
}







.footer-section-two {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 1em;
    
}

.footer-section-two-logo img {
    height: 40px;
}

.footer-section-two-policy {


    margin-top: 10px;
    margin-left: 1em;
}

.footer-section-two-policy p {
    font-size: 12px;
    color:#585044;
    margin-bottom: 0.5em;

}

.footer-section-two-policy span a {
    padding-right: 8px;
    color: #545454;
    cursor: pointer;
    text-decoration: underline;
}

.footer-section-two-policy span a:hover {
    color: #545454;
}

.footer-section-two-inputs {
    
    margin-left: 14%;
    

}

.footer-section-two-inputs-currency {
    padding: 7px 18px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 16px;
    font-weight: 700;
    color:rgb(36, 35, 35);
    border:none ;
    margin-right: 10px;
}
.footer-section-two-inputs-Countries {
    padding-top: 8px;
    padding-bottom: 7px;
    padding-right:  35px;
    padding-left: 8px;
    border-radius: 10px;
    border:none ;
    font-size: 16px;
    font-weight: 700;
    color: rgb(36, 35, 35);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.footer-section-three {
    display: flex;
    margin-left: 20%;
    margin-top: 1em;
    
}
.footer-section-three-desc {
    font-size: 12px;
    color:#6b665e;
}
.footer-section-three-media {
    margin-left: 13em;
    
}
.footer-section-three-media img {
    height: 22px;
    margin: .8em;
    margin-bottom: 3em;
}


@media screen and (max-width:600px) {
body {
    font-size: 10px;
}
    
}

@media screen and (max-width:600px) {

.meal-section-card-pic {
        flex-basis: 40%;
        margin-top: 15px;
        text-align: center;
    }
    .locations-section-card {
        flex-basis: 40%;
        margin-top: 60px;

    }
    .footer-section-one-advisor {
        display: none;
    }
}
